bin/
obj/
libs/
package/

# Visual Studio Code
.vscode

# Rider
.idea

*.cache
# *.nupkg
*.pdb
*.trx
src/**/*.dll
*.zip
*DotSettings.user
*.pyc
*.user
*.suo
*.ignore

*.GhostDoc.xml
*.GhostDoc.user.dic
**/packages
src/TestResults/*
src/Help/*
sandcastle/Help/*
DemoProject/packages/*
XsdSchemaFetcher/SchemaFetcher/packages/*


/DemoProject/src/Sportradar.OddsFeed.SDK.DemoProject/Logs
/sandcastle/doc
/ext/bsa/v1 - UnifiedOnly

.vs/**
**/.vs/**
**/.sonarqube/**
**/.sonarlint/**
**/TestResults/**

.nuget/**

packages/**
**/Logs
**/Help

UpgradeLog.htm

coverage.opencover.xml
coverage.xml

# dotCover output
dotCover.Output.*
/dotCover.Output