bin/
obj/
libs/

*.cache
# *.nupkg
*.pdb
*.trx
src/**/*.dll
*.zip
*DotSettings.user
*.pyc
*.user
*.suo
*.sln
*.ignore

*.GhostDoc.xml
*.GhostDoc.user.dic
**/packages
src/TestResults/*
sandcastle/Help/*
DemoProject/packages/*
XsdSchemaFetcher/SchemaFetcher/packages/*


/DemoProject/src/Sportradar.OddsFeed.SDK.DemoProject/Logs
/sandcastle/doc
/ext/bsa/v1 - UnifiedOnly

.vs/**
**/.vs/**

.nuget/**

packages/**
**/Logs

UpgradeLog.htm
