<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
	  <section name="uofSdkSection" type="Sportradar.OddsFeed.SDK.Api.Internal.Config.UofConfigurationSection, Sportradar.OddsFeed.SDK" />
  </configSections>

  <!--  
  
	Required attributes:    
	accessToken - the access token used for the authentication to the broker and to the sports api
	defaultLanguage (or desiredLanguages required)
	desiredLanguages (renamed from supportedLanguages)
	
	Optional attributes:
	nodeId (recommended to be set – must be unique per sdk instance)
	environment - a value indicating to which unified feed environment sdk should connect (SdkEnvironment enum value - if not set 'Integration' will be used)
	host - sets the url of the messaging host (broker) (mq.betradar.com). This setting is used only when using Custom environment.
	useSsl - sets the value indicating whether a secure connection to the message broker should be used (true or false – renamed from useSSL). This setting is used only when using Custom environment.
	virtualHost - sets the name of the virtual host configured on the messaging server (broker). This setting is used only when using Custom environment.
	apiHost - sets the url of the Sport API host (https://api.betradar.com). This setting is used only when using Custom environment.
	apiUseSsl - sets the value indicating whether a secure connection to the Sports API should be used (true or false – renamed from useApiSSL). This setting is used only when using Custom environment.
	exceptionHandlingStrategy - sets a ExceptionHandlingStrategy enum member specifying how to handle exceptions thrown to outside callers (‘Catch’ or ‘Throw’)
	disabledProducers - sets the comma delimited list of ids of disabled producers (e.g. 1,2,7,9)
	
  -->

  <!--<uofSdkSection accessToken="BETRADAR_ACCESS_TOKEN" defaultLanguage="en" nodeId="1" environment="GlobalIntegration" />-->

  <uofSdkSection accessToken="D9ONDiNaaph3ByCEtS" defaultLanguage="en" nodeId="101" environment="Custom" apiHost="eu.api.betradar.com" host="eu.mq.betradar.com"  />

</configuration>