<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>

  <log4net>
    
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss,fff}&#9; %level&#9; %logger&#9; %message%newline" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss,fff}&#9; %level&#9; %logger&#9; %message%newline" />
      </layout>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Purple" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red" />
      </mapping>
    </appender>

    <appender name="FileAppenderExec" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="C:\LOGS\NETSDK\RestTest\logExec-%date{yyyyMMdd}.log" />
      </file>
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss,fff}&#9; %level&#9; %logger&#9; %message%newline" />
      </layout>
    </appender>
    
    <appender name="FileAppenderFeed" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="C:\LOGS\NETSDK\RestTest\logFeed-%date{yyyyMMdd}.log" />
      </file>
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date{HH:mm:ss,fff}&#9; %level&#9; %logger&#9; %message%newline" />
      </layout>
    </appender>
    
    <appender name="FileAppenderRest" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="C:\LOGS\NETSDK\RestTest\logRest-%date{yyyyMMdd}.log" />
      </file>
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss,fff}&#9; %level&#9; %logger&#9; %message%newline" />
      </layout>
    </appender>
    
    <appender name="FileAppenderClient" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="C:\LOGS\NETSDK\RestTest\logClient-%date{yyyyMMdd}.log" />
      </file>
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss,fff}&#9; %level&#9; %logger&#9; %message%newline" />
      </layout>
    </appender>
    
    <appender name="FileAppenderCache" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="C:\LOGS\NETSDK\RestTest\logCache-%date{yyyyMMdd}.log" />
      </file>
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss,fff}&#9; %level&#9; %logger&#9; %message%newline" />
      </layout>
    </appender>

    <appender name="FileAppenderStats" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString">
        <conversionPattern value="C:\LOGS\NETSDK\RestTest\logStats-%date{yyyyMMdd}.log" />
      </file>
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss,fff}&#9; %level&#9; %logger&#9; %message%newline" />
      </layout>
    </appender>

      <!-- ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF - the levels are defined in order of increasing priority -->
    <root name="RootLog">
      <level value="ALL" />
      <appender-ref ref="DebugAppender"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="FileAppenderExec"/>
    </root>
    
    <logger name="Sportradar.OddsFeed.SDK.Execution" additivity="true">
      <level value="ALL"/>
      <appender-ref ref="FileAppenderExec"/>
    </logger>

    <logger name="Sportradar.OddsFeed.SDK.FeedTraffic" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="DebugAppender"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="FileAppenderFeed"/>
    </logger>

    <logger name="Sportradar.OddsFeed.SDK.RestTraffic" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="DebugAppender"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="FileAppenderRest"/>
    </logger>

    <logger name="Sportradar.OddsFeed.SDK.ClientInteraction" additivity="true">
      <level value="ALL"/>
      <appender-ref ref="FileAppenderClient"/>
    </logger>

    <logger name="Sportradar.OddsFeed.SDK.Cache" additivity="true">
      <level value="ALL"/>
      <appender-ref ref="FileAppenderCache"/>
    </logger>

    <logger name="Sportradar.OddsFeed.SDK.Stats" additivity="true">
      <level value="ALL"/>
      <appender-ref ref="FileAppenderStats"/>
    </logger>

  </log4net>
</configuration>